@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap%27');

body {
    font-family: 'Montserrat', sans-serif;
    background: url("../bilder/drone-08.jpg");

    p {
        color: #FFF;
    }

    li {
        color: #FFF;

        a {
            color: #FFF;
        }

        a:hover {
            color: rgb(173, 173, 173);
        }
    }
}

.border {
    border-width: 5px !important;
}

.border-top {
    border-width: 5px !important;
}

.container {
    position: relative;
    z-index: 1;
}

.fet {
    font-weight: bold;
}

.navbar {
    padding: 1.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    .navbar-brand {
        font-size: 30px;
    }

    .nav-link {
        font-size: 17px;
    }

    li {
        margin-right: 4rem;
    }
}

.feed {
    margin-top: 50px;
    border: solid red 5px;
    color: white;
    background: black;
}