body {
    background-color: rgba(216, 212, 212, 0.897);
}
h1 {
    text-align: center;
}
.kalkylator {
    display: flex;
    justify-content: center;
}
.kalkylator_nycklar {
    display: grid;
}
.svartskarm {
    color: white;
    background-color: black;
}
.grarad {
    color: rgb(19, 1, 1);
    background-color: rgb(167, 165, 165);
}
.vitrad {
    color: rgb(19, 1, 1);
    background-color: rgb(247, 247, 247);
}
.orangerad {
    color: rgb(39, 36, 36); 
    background-color: rgb(228, 125, 40);
}