div{
    background-color: #2EC1AC;
    font-family: 'Open Sans', sans-serif;
}
.hidden {
    display: none;
}

.left {
    margin-left: 20em;
}

.gra_box {
    height: 50px;
    width: 50%;
    background-color: #888888;
    margin-left: 20em;
}

.ljus_gra_box {
    height: 50px;
    width: 50%;
    background-color: #B8B8B8;
    margin-left: 20em;
}

input {
    margin-left: 25em;

}
button {
    background-color:  #D2E603;
    font-family: 'Open Sans', sans-serif;
}
